.health-section {
  padding: 1.5rem;
}

.col {
  padding: 1rem;
}

.btn2 {
  background: #91acbd;
  background-image: -webkit-linear-gradient(top, #91acbd, #2980b9);
  background-image: -moz-linear-gradient(top, #91acbd, #2980b9);
  background-image: -ms-linear-gradient(top, #91acbd, #2980b9);
  background-image: -o-linear-gradient(top, #91acbd, #2980b9);
  background-image: linear-gradient(to bottom, #91acbd, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  text-decoration: none;
}

.btn2:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn13 {
  padding-left: 36rem;
}

@media (max-width: 992px) {
  .navbar-toggler {
      float: right;
  }

  .navbar-collapse {
      text-align: center;
  }

  .carousel-inner img {
      height: auto;
  }

  .btn13 {
      padding-left: 20rem;
  }
}

@media (max-width: 768px) {
  .carousel-inner img {
      height: auto;
  }

  .health-section {
      padding: 1rem;
  }

  .btn13 {
      padding-left: 10rem;
  }
}

@media (max-width: 576px) {
  .carousel-inner img {
      height: auto;
  }

  .health-section {
      padding: 0.5rem;
  }

  .btn13 {
      padding-left: 0;
      text-align: center;
  }
}
