#top-header {
    background-color: #EFA8E4;
    padding: 1rem;
   
}
.text-intro {
    text-align: center;
    line-height: 4rem;
}
    .card-img-top {
        width: 32%;
        height: 32%;
        text-align: center;
        margin: 2px auto 2rem 10rem;
    }
    .card-text {
        margin-right: 2rem;
        text-align: center;
    }
  
  
.img-intro {
    padding: 3rem;
}    